<section class="row">
    
    

    <div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">


    <form action="/api/users/bank" method="POST">

    <div class="form-group">
    <label for="bank">ธนาคาร</label>
    <select class="form-control" id="bank" name="bankName">
      <option>ธนาคารกรุงเทพ</option>
      <option>ธนาคารกสิกรไทย</option>
      <option>ธนาคารไทยพาณิชย์</option>
      <option>ธนาคารกรุงศรีอยุธยา</option>
      <option>ธนาคารกรุงไทย</option>
      <option>ธนาคารทหารไทย</option>
      <option>ธนาคารธนชาต</option>
      <option>ธนาคารยูโอบี</option>
      <option>ธนาคารออมสิน</option>
      <option>ธนาคารสแตนดาร์ดชาร์เตอร์ด</option>
    </select>
  </div>

  <div class="form-group" >
    <label for="accountNo">เลขที่บัญชี</label>
    <input type="text" class="form-control" id="accountNo" name="accountNo" aria-describedby="accountNoHelp" placeholder="xxx-x-xxxxx-x">
    
  </div>

  <div class="form-group">
    <label for="nameAccount">ชื่อบัญชี</label>
    <input type="text" class="form-control" id="accountName" name="accountName" aria-describedby="accountNameHelp" placeholder="ชื่อ - นามสกุล">
    
  </div>

  <div class="form-group">
    <label for="branch">สาขา</label>
    <input type="text" class="form-control" id="branch"  name="branch" aria-describedby="branchHelp" placeholder="สาขาธนาคาร">
    
  </div>
 
  
 

  <button type="submit" class="btn btn-primary">บันทึก</button>
</form>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

</section>

