<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        แจกเงินฟรี
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="#" target="_blank">กดเลย</a>
      </p>
    </div>
  </div>
  
 
    <div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="/modules/core/client/img/scrking/previews/300x250.png" width="250" height="250">
			<img alt="Bootstrap Image Preview" src="/modules/core/client/img/scrking/previews/300x600.png" width="250" height="250">
      </div>
		
    <div class="col-md-6">
			<div class="page-header">
				<h1>
					แจกเงินฟรี <small>วันละ 50 บาท ต่อคน ต่อวัน สำหรับ 50 ท่านแรกต่อวัน</small>
				</h1>
			</div>
			<!--img/728x90.png-->
			<img class="img-responsive" alt="Bootstrap Image Preview" src="/modules/core/client/img/scrking/banner1.jpg" width="728" height="90">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit imperdiet sodales. Sed volutpat condimentum purus,
				ut pellentesque arcu dapibus quis. Sed est nisi, finibus a lectus vel, egestas pretium ante. Integer non ex dictum, rutrum
				ipsum ac, maximus odio. In hac habitasse platea dictumst. Donec condimentum egestas neque, vitae fringilla justo vestibulum
				at. Integer quis orci cursus, dictum ex ut, feugiat neque. Etiam consectetur accumsan neque, ut cursus dui lobortis eu.
				Donec mattis eros at pulvinar rutrum. Pellentesque dictum nibh ac ante posuere congue. Sed vitae ex sed metus rhoncus
				euismod sit amet vel ante. Quisque quis lectus venenatis, elementum justo in, commodo sem. Suspendisse potenti. Sed ut
				massa arcu. Nunc eget facilisis velit. Maecenas ex mi, gravida eget purus id, porttitor faucibus sem. Maecenas a sapien
				erat. Donec tincidunt tincidunt ante, sit amet lobortis neque dignissim id. Nunc varius interdum nisl a porttitor. Praesent
				nec porta mauris. Sed consequat nisi vitae dui accumsan, vel blandit tellus semper. Cras pretium quis nisi sed molestie.
				Quisque placerat posuere tellus, vitae tempus nisl. Sed venenatis ante id metus pulvinar, non tempus erat lacinia. Curabitur
				consequat, sem sed posuere malesuada, ex magna feugiat ligula, vel finibus eros tellus at felis. Pellentesque cursus
				pellentesque nisi ut scelerisque. Quisque in turpis ligula. Donec id pretium sem. Donec consequat mauris non dui commodo,
				vitae lobortis nisl porta. Duis sed mi a ligula varius malesuada. Mauris pulvinar, massa at euismod porta, massa ligula
				imperdiet orci, vel iaculis neque purus volutpat ipsum. Fusce at convallis magna, ut facilisis felis. Praesent arcu enim,
				viverra ac elementum quis, elementum ac orci. Phasellus vitae vestibulum lectus. Quisque auctor dui neque, ut bibendum
				dui ultrices ac. Fusce sollicitudin dui dui, sit amet rutrum metus volutpat malesuada. Maecenas massa est, ultrices mattis
				orci eu, auctor efficitur nisl. Nunc rhoncus nunc ut congue ullamcorper. Praesent dignissim tellus a neque convallis
				laoreet viverra quis metus. Praesent at maximus odio. Proin convallis aliquet nisl, eu mollis lectus vulputate sit amet.
				Quisque tincidunt nec felis id sollicitudin. Maecenas at viverra risus. Ut scelerisque scelerisque tortor ut mollis.
				In ligula turpis, laoreet at massa et, malesuada imperdiet augue. Vivamus porta quis felis blandit auctor. Phasellus
				diam sem, viverra id tempus in, convallis vitae ex. Nullam in cursus ipsum, nec tempor odio. Etiam augue ex, consectetur
				in orci suscipit, accumsan venenatis nibh. Curabitur id sapien ut sapien scelerisque convallis id vel elit. Cras consectetur
				iaculis nunc, nec dictum ipsum fringilla elementum. Duis vehicula in magna eu eleifend. Maecenas lobortis lorem a luctus
				vehicula. Duis commodo ullamcorper mollis. Nullam non facilisis lectus. Nam viverra tristique ultricies.
			</p>

      </div>
		
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="/modules/core/client/img/scrking/previews/300x250.png" width="300" height="250">
			<img alt="Bootstrap Image Preview" src="/modules/core/client/img/scrking/previews/300x600.png" width="300" height="600">
		</div>




</section>
